<template>
  <div class="list row">
    <div class="col-md-6">
      <h4 class="text-center">Lista de Emprestimos</h4>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Estado</th>
            <th>Valor</th>
            <th>Operação</th>
          </tr>
        </thead>
          <tbody>
            <tr v-for="(emprestimo, index) in emprestimos" :key="index">
              <td>{{emprestimo.id}}</td>
              <td>{{emprestimo.estado}}</td>
              <td>{{emprestimo.valor}}</td>
              <td>
                <span class="btn-sm btn-success margin-btn" v-on:click="show(emprestimo.id)">Show</span>
                <span class="btn-sm btn-danger margin-btn" v-on:click="delete_(emprestimo.id)">Delete</span>
              </td>
            </tr>
          </tbody>
      </table>
      <div>
        <span class="btn btn-success margin-btn" v-on:click="new_()">Novo</span>
      </div>
    </div>
    <div class="col-md-6">
      <div v-if="this.emprestimo.id !== '' && !edited" class="container">
        <h4>Emprestimo nº {{this.emprestimo.id}}</h4>
        <div class="row">
          <div class="form-group col-md-5">
            <label for="estado-show">Estado</label>
            <input type="text" class="form-control" id="estado-show" disabled required v-model="emprestimo.estado" name="estado">
          </div>
          <div class="form-group col-md-5">
            <label for="valor-show">Valor</label>
            <input type="number" class="form-control" id="valor-show" disabled required v-model="emprestimo.valor" name="valor">
          </div>
          <div class="form-group col-md-2">
            <label for="btn-editar">&nbsp;</label>
            <button v-on:click="edit" id="btn-editar" class="btn btn-info">Editar</button>
          </div>
        </div>
      </div>
      <div v-else-if="this.edited" class="container">
        <h4>Editar Emprestimo nº {{this.emprestimo.id}}</h4>
        <div class="row">
          <div class="form-group col-md-5">
            <label for="estado-edit">Estado</label>
            <input type="text" class="form-control" id="estado-edit" required v-model="emprestimo.estado" name="estado">
          </div>
          <div class="form-group col-md-5">
            <label for="valor-edit">Valor</label>
            <input type="number" class="form-control" id="valor-edit" required v-model="emprestimo.valor" name="valor">
          </div>
          <div class="form-group col-md-2">
            <label for="btn-salvar">&nbsp;</label>
            <button v-on:click="save" id="btn-salvar" class="btn btn-success">Salvar</button>
          </div>
        </div>
      </div>
      <div v-else class="container">
        <h4>Solicitar Emprestimo</h4>
        <div class="row">
          <div class="form-group col-md-5">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" required v-model="emprestimo.estado" name="estado">
          </div>
          <div class="form-group col-md-5">
            <label for="valor">Valor</label>
            <input type="number" class="form-control" id="valor" required v-model="emprestimo.valor" name="valor">
          </div>
          <div class="form-group col-md-2">
            <label for="btn-solicitar">&nbsp;</label>
            <button v-on:click="save" id="btn-solicitar" class="btn btn-success">Solicitar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import http from "../http-common";

    export default {
  name: "emprestimo-list",
  data() {
    return {
      emprestimos: [],
      emprestimo: {
        id: '',
        estado: '',
        valor: '',
      },
      submitted: false,
      edited: false,
    };
  },
  methods: {
    /* eslint-disable no-console */
    retrieveCustomers() {
      http.get("/emprestimos").then(response => {
        this.emprestimos = response.data;
        console.log(response.data);
      }).catch(e => {
        console.log(e);
      });
    },
    refreshList() {
      this.emprestimo = {
        id: '',
        estado: '',
        valor: '',
      };
      this.retrieveCustomers();
    },
    delete_(id) {
      http.delete("/emprestimos/" + id).then(() => {
        this.refreshList()
      }).catch(e => {
        console.log(e);
      });
    },
    show(id) {
      http.get("/emprestimos/" + id).then(response => {
        this.emprestimo = response.data;
        this.submitted = true
      }).catch(e => {
        console.log(e);
      });
    },
    edit(){
      this.edited = true;
    },
    new_() {
      this.submitted = false;
      this.emprestimo = {
          id: '',
          estado: '',
          valor: '',
      }
    },
    save() {
      if(this.emprestimo.id){
          let data = {
              id: this.emprestimo.id,
              estado: this.emprestimo.estado,
              valor: this.emprestimo.valor
          };
          http.post("/emprestimos", data).then(() => {
              this.refreshList()
          }).catch(e => {
              console.log(e);
          });
          this.submitted = true;
          this.edited = false;
      } else {
        let data = {
            estado: this.emprestimo.estado,
            valor: this.emprestimo.valor
        };
        http.post("/emprestimos", data).then(response => {
            this.emprestimo.id = response.data.id;
            this.refreshList()
        }).catch(e => {
            console.log(e);
        });
        this.submitted = true;
        this.edited = false;
      }
    }
    /* eslint-enable no-console */
  },
  mounted() {
    this.retrieveCustomers();
  }
};
</script>

<style>
.list {
  margin: auto;
}

.margin-btn{
  margin: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
