<template>
    <div class="container ">
        <div class="row">
            <div class="col-md-4 site-info">
                <h1>Emprestimos</h1>
            </div>
            <div class="col-md-8">
                <nav>
                    <router-link class="btn btn-primary" to="/emprestimos">Emprestimos</router-link>
                </nav>
            </div>
        </div>
        <div class="background margin">
            <router-view/>
        </div>
    </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<style>
.site-info {
  color: blue;
  margin-bottom: 20px;
}

.btn-primary {
  margin: 8px;
}

.margin {
  padding: 10px;
}

.container-fluid {
  text-align: center;
}

.background {
  background-color: #eeeeee;
  border-radius: 5px;
}
</style>
